/*====================================================================
www.solvingbooks.com / BackEnd - Jose Osorio / FrontEnd - Jorge Monroy 
=====================================================================*/
#curso {
	padding-bottom: 50px;
}

/*========================== IMAGEN PORTADA ================================*/

#curso .portada {
	background: url("../public/images/cursos/circuitos1/cursos_portada_circuitos1.jpg");
	background-size: cover;
	width: 100%;
	height: 27vw;
	max-height: 374px;
	-webkit-box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
	-moz-box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
	box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
}

@media (max-width: 767px) {
	#curso .portada {
		background: url("../public/images/cursos/circuitos1/cursos_portada_circuitos1_mobile.jpg");
		background-size: cover;
		height: 38vw;
		min-height: 171px;
	}
}

/*========================== INFORMACIÓN CURSO ================================*/

#curso #descripcion_parrafo {
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 1.1428em;
	color: #000;
	padding: 0 3%;
	text-align: center;
	margin: 50px 0;
}

#curso #descripcion #descripcion_p_negro {
	font-family: "Aleo Bold";
	font-size: 1.2142em;
	color: #000;
}

/*========================== ACORDEON / CAPITULOS ================================*/

#curso .panel-title a{
	text-decoration: none;
}

#curso .panel-body ul {
	list-style: none;
}

#curso #contenido .col-md-8 {
	padding-right: 10%;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-heading h4 {
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 2em;
	color:white;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-heading h4 a {
	display: block;
}

@media (max-width: 359px) {
	#curso #contenido .col-md-8 .panel-group .panel .panel-heading h4 a {
	    display: block;
	    font-size: 24px;
	}
}

#curso #contenido .col-md-8 .panel-group .panel .panel-heading h4 a p img {
	height: 20px;
}


#curso #contenido .col-md-8 .panel-group .panel .panel-heading h4 p {
	display: inline-block;
	float: right;
	margin-bottom: 0;
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 28px;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-heading {
	background-color: #27b193;
	border-radius: 25px;
	padding: 10px 5% 10px 5%;
	margin-top: 12px;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-heading:hover {
	background-color: #46bcb0;
}

#curso #contenido .col-md-8 .panel-group .panel {
	background: none;
	border: none;
	border-radius: 25px;
	box-shadow: none;
}

@media (max-width: 991px) {
	#curso #contenido .col-md-8 {
		padding-right: 0;
	}
}

/*=================SUBCAPITULOS==============================*/

#curso #contenido .col-md-8 .panel-group .panel .panel-body  {
	background-color: white;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin: 0 4%;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-body ul li a{
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 1.2857em;
	color: black;
	display: block;
	border-bottom: 1px solid #DFDFDF;
	padding-top: 5px;
	padding-bottom: 5px;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-body ul li a p{
	display: inline-block;
	float: right;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-body ul li:last-child a {
	border-bottom: none;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-body ul{
	margin: 0;
	padding: 0;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-body ul li{
	padding-top: 5px;
	padding-left: 3%;
	padding-right: 3%;
	text-align: left;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-body ul li:last-child {
	margin-bottom: 15px;
}

#curso #contenido .col-md-8 .panel-group .panel .panel-body ul li:hover {
	background-color: rgba(70,188,176, 0.19);
}

@media (max-width: 600px) {
	#curso #contenido .col-md-8 .panel-group .panel .panel-body ul li a{
		font-size: 1.0357em;
	}
}
/*========================== PROFESORES / PREREQUISITOS ================================*/


#curso #contenido .col-md-4 .row .col-md-12 {
	text-align: center;
}

#curso #contenido .col-md-4 .prof {
	margin-top: 15px;
}

#curso #contenido .col-md-4 .prof img{
	width: 120px;
}

#curso #contenido .col-md-4 .row .col-md-6 {
	text-align: center;
	padding-left: 10%;
	padding-right: 0%;
}

#curso #contenido .col-md-4 .row .col-md-6:nth-child(2) {
	padding-right: 10%;
	padding-left: 0%;
}


#curso #contenido .col-md-4 .row .col-md-12 a button {
	display: inline;
	text-align: center;
	border-radius: 12px;
	border: none;
	background-image: url('../public/images/cursos/circuitos1/cursos_boton_iniciar.svg');	
	width: 254.25px;
	max-height: 52px;
	margin-top: 12px;
	outline: none;
}

#curso #contenido .col-md-4 .row .col-md-12 a {
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	color: #332106;
}


#curso #contenido .col-md-4 .row .col-md-12 a button:hover {
	color: white;
}

#curso #contenido .col-md-4 .row .col-md-12 h1  {
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 2.4285em;
	color: #052b28;
	text-align: left;
	margin-top: 8px;
	margin-right: 10%;
	border-bottom: 1px solid #46bcb0;
}

#curso #contenido .col-md-4 .row .col-md-6 h3  {
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 1.8571em;
	color: #868686;
	text-align: center;
	margin-top: 0;
}

#curso #contenido .col-md-4 .row .col-md-12 ul li  {
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 1.4285em;
	color: #46bcb0;
	text-align: left;
	line-height: 0;
}

#curso #contenido .col-md-4 .row .col-md-12 ul li .profesorP  {
	color: black;
	font-size: 15px;
	line-height: normal;
}

#curso #contenido .col-md-4 .row .col-md-12 ul li .profesorP span  {
	font-family:"Aleo Bold";
}