/*====================================================================
www.solvingbooks.com / BackEnd - Jose Osorio / FrontEnd - Jorge Monroy 
====================================================================*/

/*========================== IMAGEN PORTADA ================================*/

#ingenieria .portada {
	background: url("../public/images/ingenierias/electronica/ingenieria_portada_electronica.jpg");
	background-size: cover;
	width: 100%;
	height: 27vw;
	max-height: 374px;
	-webkit-box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
	-moz-box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
	box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
}

/*========================== INFORMACIÓN INGENIERIA ===================================================*/
#ingenieria #descripcion {
	padding: 80px 0;
}

#ingenieria #descripcion .container .row div:first-child {
	text-align: right;
}

#ingenieria #descripcion .icon {
	width: 120px;
}

#ingenieria #descripcion .tituloImg {
	width: 300px;
}

@media (max-width: 1100px) {
	#ingenieria #descripcion .tituloImg {
		width: 245px;
	}
}

@media (max-width: 991px) {
	#ingenieria #descripcion .tituloImg {
		width: 200px;
	}
}

@media (max-width: 767px) {

	#ingenieria .portada {
		background: url("../public/images/ingenierias/electronica/ingenieria_portada_electronica_mobile.jpg");
		background-size: cover;
		height: 38vw;
		min-height: 171px;
	}

	#ingenieria #descripcion p {
		text-align: left !important;
		padding-left: 6vw !important;
		padding-right: 3% !important;
	}

	#ingenieria #descripcion .icon {
		width: 250px;
	}

	#ingenieria #descripcion .container .row div:first-child {
		text-align: center;
		margin-bottom: 40px;
	}

	#ingenieria #descripcion {
		padding: 50px 0;
	}
}

#ingenieria #descripcion p {
	font-size: 1.3em;
	line-height: 1.3;
	text-align: right;
	font-family: "Aleo Light";
	padding-left: 4%;
	padding-right: 4%;
	border-right: 4px solid #034c3b;
	border-left: 4px solid #034c3b;
	margin-bottom: 0;
}

/*========================== BARRA BUSQUEDA ================================================================*/

#ingenieria #barra_buscar {
	background: url('../public/images/ingenierias/electronica/ingenieria_barraBusqueda.png') no-repeat center;
	height: 57px;
}

#ingenieria #barra_buscar .container .row .col-md-12 .row div:first-child {
	text-align: right;
	padding-right: 6vw;
}

@media (max-width: 767px) {
	#ingenieria #barra_buscar .container .row .col-md-12 .row div:first-child {
		text-align: center;
		padding-right: 0vw;
		padding-left: 0vw;
	}
}

#ingenieria #barra_buscar .container .row .col-md-12 .row div:nth-child(2) {
	text-align: left;
	padding-left: 5vw;
}

#ingenieria #barra_buscar h1 {
	font-family: "Blanch Caps";
	font-size: 40px;
	text-align: right;
	margin-top: 6px;
	display:inline-block;
	color: #002723;
}

#ingenieria #buscar {
	margin: 8px 5px 0 18px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.9);
	background-image: url('../public/images/ingenierias/electronica/ingenieria_lupa.svg');
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: 97% 45%;
	font-size: 1.4285em;
	display: inline-block;
	font-family: "Aleo Lightitalic", Arial, Helvetica, sans-serif;
	width: 280px;
	padding-right: 30px;
}

@media (max-width: 400px) {
	#ingenieria #buscar {
		width: 245px;
		background-size: 9%;
	}
}

#ingenieria  #buscar:focus{
	box-shadow:none;	
}

#ingenieria #flecha_organizar {
	border: none;
	background: url('../public/images/ingenierias/electronica/ingenieria_flecha_organizar.svg') no-repeat center;
  	width: 17px;
	display: inline-block;
	background-size: 100%;
}

/*========================== SECCIÓN CURSOS================================================================*/

#ingenieria #asignaturas {
	padding-top: 60px;
	padding-bottom: 70px;
}

#ingenieria #asignaturas .row img {
	width: 65%;
	margin-left: 0px;
}

@media (max-width: 767px) {
	#ingenieria #asignaturas .row img {
		width: 55%;
		min-width: 130px;
	}
}

#ingenieria .disabled{
	opacity: 0.4;
}

#ingenieria #sugerencia {
	margin-bottom: 70px;
}

