/*====================================================================
www.solvingbooks.com / BackEnd - Jose Osorio / FrontEnd - Jorge Monroy 
====================================================================*/

#page_video {
	padding-top: 30px;
	padding-bottom: 40px;
}

/**========= BARRA DE VIDEOS =================================
============================================================**/

#page_video #barra_progreso {
	height: 54px;
	background-color: #718980;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
	border-bottom: none;
}

#barra_progreso ul {
    text-align: center;
    display: table;
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
    padding: 0 2vw;
    margin: 7px 0;
}

	/*CONTENIDO*/

#barra_progreso li.contenido {
    width: 23px;
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: baseline;
}


#barra_progreso li.contenido:not(:hover) a {
	opacity: 1;
}

#barra_progreso li.contenido a {
	position: relative;
    width: 23px;
    display: block;
    height: 60px;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    box-sizing: border-box;
}

#barra_progreso li.contenido:hover .contenido-tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -3px);
    -ms-transform: translate(-50%, -3px);
    transform: translate(-50%, -3px);
}

#barra_progreso li.contenido .contenido-tooltip {
    position: absolute;
    background: #fff;
    text-align: center;
    padding: 10px 10px;
    width: 190px;
    z-index: 1000;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.08),0 0 1px rgba(0,0,0,0.1),0 2px 0 rgba(0,0,0,0.08);
    -webkit-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: border-box;
    vertical-align: baseline;
}

#barra_progreso li.contenido .contenido-tooltip:before {
    position: absolute;
    z-index: 1001;
    content: "";
    background: #fff;
    width: 10px;
    height: 10px;
    bottom: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    box-shadow: -1px -1px 0 rgba(0,0,0,0.05);
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
    -ms-transform: translate(-50%, 50%) rotate(45deg);
    transform: translate(-50%, 50%) rotate(45deg);
    left: 50%;
    border-radius: 3px 0 0 0;
    box-sizing: border-box;
}
	/*First-Child*/
#barra_progreso li.contenido:first-child .contenido-tooltip {left: 85px;}
#barra_progreso li.contenido:first-child .contenido-tooltip:before {left: 22px;}

	/*Last-Child*/
#barra_progreso li.contenido:last-child .contenido-tooltip {
    left: auto;
    right: -135px;
}
#barra_progreso li.contenido:last-child .contenido-tooltip:before {
    left: auto;
    right: 42px;
}

#barra_progreso li.contenido .contenido-tooltip h6 {
	color: #3A8380;
	font-family: "Aleo Bold";
	font-size: 0.9285em;
	font-weight: 500;
	margin: 0;
}

#barra_progreso li.contenido .contenido-tooltip em {
	color: #000;
	font-family: "Aleo Bold";
	font-size: 0.9285em;
	font-weight: 500;
}


	/*SEPARADOR*/

#barra_progreso li.separador {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: baseline;
}

#barra_progreso li.separador:before {
    content: "";
    position: absolute;
    background: #fff;
    top: 21px;
    left: 0;
    right: 0;
    height: 2px;
    color: #fff;
    opacity: 0.1;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 10px;
}

@media (max-width: 790px) {
	#barra_progreso li.contenido a {
	    width: 17px;
	}

	#barra_progreso li.contenido {
	    width: 17px;
	}

	#barra_progreso li.contenido:last-child .contenido-tooltip:before {
	    left: auto;
	    right: 6px;
	}

	#barra_progreso li.contenido:last-child .contenido-tooltip {
	    left: auto;
	    right: -58px;
	}

	#barra_progreso li.contenido .contenido-tooltip {
   	 	width: 100px;
   	}

   	#barra_progreso li.contenido:first-child .contenido-tooltip {
	    left: 36px;
	}


}

/**=========== CSS DEL REPRODUCTOR DE VIDEO ========================**/

#video .area_video {
	max-height: 450px;
	height: 100vw;
	min-height: 200px;
}

@media (max-width: 762px) {
	#video .area_video {
	    height: 67vw;
	}
}

#video .area_video .mejs-container-fullscreen .mejs-cncMateriales,
#video .area_video .mejs-container-fullscreen {
	max-height: 100%;
}

#video .mejs-container-fullscreen .mejs-controls {
    position: absolute !important;
    bottom: 0px !important;
}


#video .mejs-cncMateriales {
	background-color: #2A2D2D;
	max-height: 450px;
	height: 100vw;
	min-height: 200px;
}

#video .mejs-cncMateriales .mejs-mediaelement {
    position: relative;
}

		/*CONTROLES REPRODUCTOR*/

#video .mejs-cncMateriales .mejs-controls {
	position: relative;
	bottom: 5px;
}

#video .mejs-cncMateriales .mejs-controls .mejs-time-rail .mejs-time-total {
	background: #043a30;
	border-radius: 14px;
}

#page_video #video .mejs-cncMateriales .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #3A8380;
	border-radius: 14px;
}

#page_video #video .mejs-cncMateriales .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #043a30;
	border-radius: 14px;
}

#video .mejs-cncMateriales .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-float {
	border: none;
	background: none;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
}

	/*BOTONES REPETIR VIDEO O SIGUIENTE*/

#video .nextVideo {
	display: none;
	max-height: 450px;
	height: 75vw;
	min-height: 200px;
	background-color: #2a2d2d;
	padding: 18% 0 0 0;
	position: relative;
}

@media (max-width: 1199px) {
	#video .nextVideo {
		padding: 22% 0 0 0;
	}
}

@media (max-width: 991px) {
	#video .nextVideo {
		padding: 30% 0 0 0;
	}
}

#video .nextVideo .primeric {
	text-align: right;
}

#video .nextVideo .primeric img {
	padding-right: 2%;
}

#video .nextVideo .segundoic {
	text-align: left;
}

#video .nextVideo img {
	height: 60px;
}

#video .nextVideo p {
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	display: inline-block;
}

/*============== FIN CSS VIDEO =================================*/

/*********** CSS EJERCICIO *******************************/
/*************************************************************/
#videouno,
#videodos {
	margin-top: -5px;
}


#page_video .exercise {
	margin: 0;
	background-color: #4F4E4F;
	max-height: 480px;
	height: 100vw;
	min-height: 200px;
}

#page_video .exercise .questions {
	max-height: 420px;
	height: 100vw;
	min-height: 200px;
}

#page_video .exercise .help {
	max-height: 420px;
	height: 100vw;
	min-height: 200px;
}


#page_video .exercise .col-md-8 {
	padding-left: 5%;
	background-color: #4F4E4F;
}


#page_video .exercise .col-md-8 h1 {
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 46px;
	color: #670E2E;
}

.exercise .col-md-8 h1 span{	
	font-size: 29px;

}

#page_video .exercise .col-md-8 p {
	font-family: "Aleo Regular", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #c8ccce;	
}

.exercise .col-md-8 p:nth-child(2) {
	margin-bottom: 0px;
}

#opcion {
	font-family: "Aleo Lightitalic", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #211202;	
}

#page_video .exercise .col-md-8 .row .col-md-1 {
	background-color: rgba(25,24,24,0.10);
	border-radius: 12px;
	height: 51px;
	text-align: center;
	width: 7.6%;
	min-width: 53px;
	margin-left: 3%;
}

#page_video .exercise .col-md-8 .row:hover .col-md-11,  
#page_video .exercise .col-md-8 .row:hover .col-md-1 {
	background-color: #66827D;
}

#page_video .exercise .col-md-8 .row .col-md-1 h3 {
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 57px;
	color: #02161e;
	margin: -9px 0 0 0;	
	height: 51px;
	position: relative;
	width: 100%;
}

.preguntas {
	margin-bottom: 7px;
}

#opcionA {
	margin-top: 20px;
}

#page_video .exercise .col-md-8 .row .col-md-11 {
	background-color: rgba(25,24,24,0.10);
	border-radius: 12px;
	min-height: 51px;
	width: 83%;
	margin-left: 1%;
	padding-top: 4px;	
}

@media (max-width: 485px) {
	#page_video .exercise .col-md-8 .row .col-md-11 {
		width: 73%;
	}

	#page_video .exercise {
		max-height: 600px;
		max-height: 569px;
	}

	#page_video .exercise .questions {
		max-height: 509px;
		height: 609px;
	}

	#page_video .exercise .help {
		max-height: 509px;
		height: 609px;
	}

	#page_video .exercise .row .col-md-12 .boteje {
	    height: 95px !important;
	}

	#page_video .boteje button {
	    margin-bottom: 5px;
	}
}



#page_video .exercise .col-md-8 .row .col-md-11 p {
	font-family: "Aleo Regular", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #02161e;	
}

#page_video .exercise .col-md-4 {
	background-color: rgba(25,24,24,0.10);
	text-align: center;
	padding-top: 210px;	
}


#page_video .exercise .row .col-md-12 .boteje {
	background-color: #718980;
	height: 60px;
	text-align: center;
	padding-top: 13px;
}

/********** FIN CSS EJERCICIO ***********************************/


/******************* CSS BOTONES ejercicio sgte ****************************/
/*************************************************************/

#page_video .exercise .col-md-4 button {
	border-radius: 14px;
	border: 2px solid #02161e;
	width: 90px;
	height: 35px;
	background-color: #718980;;	
}

#page_video .exercise .col-md-4 button:hover {
	background-color: #02161e;	
}

#page_video .exercise .col-md-4 button a {
	font-family:  "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #02161e;
}

#page_video .exercise .col-md-4 button:hover a {
	color: #718980;;
}

#page_video .boteje button {
	border-radius: 14px;
	border: 2px solid #02161e;
	width: 90px;
	height: 35px;
	background-color: #718980;;	
	margin-left: 40px;	
}

#page_video .boteje button.verificar {
	border-radius: 14px;
	border: 2px solid #02161e;
	width: 90px;
	height: 35px;
	background-color: #02161e;	
	margin-left: 40px;	
}


#page_video .boteje button:hover {
	background-color: #02161e;	
}

#page_video .boteje button:hover a {
	color: #8C8472;
}

#page_video .boteje button a {
	font-family:  "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #02161e;
}

#page_video .boteje button.verificar a {
	font-family:  "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #8C8472;
}

/**************** FIN CSS BOTONES ***************************/
/*************************************************************/

/*********** CSS MENU INFERIOR *******************************/
/*************************************************************/
#page_video .titulovideo h3 {
	padding-top: 15px;
}

@media (max-width: 991px) {
	#page_video .titulovideo h3 {
		padding-top: 0 !important;
	}
}	


#page_video .container .row .col-md-12 div .nav-tabs {
	border-bottom: none;
	background-color: #718980;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 48px;
	padding: 0 3%;
}

#page_video .container .row .col-md-12 div .nav-tabs li {
	margin-right: 2%;
}

#page_video .container .row .col-md-12 div .nav-tabs li a {
	color: #052b24;
}

#page_video .container .row .col-md-12 div .nav-tabs li a:hover {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	height: 44px;
	margin-top: 4px;
	color: #052b24;
	border: 1px solid transparent;
	background-color: #EEE !important;

}

#page_video .container .row .col-md-12 div .nav-tabs .active a {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	height: 44px;
	margin-top: 4px;
	color: #052b24;
	border: 1px solid transparent;
	background-color: #EEE !important;
}

#page_video .container .row .col-md-12 div .nav-tabs a {
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #052b24;
	height: 44px;
	margin-top: 4px;
}

@media (max-width: 535px) {
	#page_video .container .row .col-md-12 div .nav-tabs a {
	    font-size: 16px;
	}
}

/******************************CSS FORO *******************************
=====================================================================*/
#page_video #Foro .historialComent {
	padding: 0 2.5% 0 1%;
	margin-left: 3%;
	border-left: solid 2px #46bcb0;
}

#page_video #Foro .historialComent h5 {
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #052b24;
}

#page_video #Foro .historialComent h5 span {
	font-family: "Aleo Lightitalic", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #052b24;
}

#page_video #Foro .historialComent p {
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #052b24;
}

#page_video #Foro #comentarioViejo {
	padding: 1% 2.5% 2% 2.5%;
	overflow-y: scroll;
	height: 230px;
	margin-top: 20px;
}

		/*MODIFICANDO EL SCROLL*/
#comentarioViejo::-webkit-scrollbar{
	width:16px;
	background-color: transparent;
} 

#comentarioViejo::-webkit-scrollbar-thumb{
	background-color:#27b193;
	border-radius:10px;
}

#comentarioViejo::-webkit-scrollbar-thumb:hover{
	background-color:#718980;
	border:1px solid #333333;
}

#comentarioViejo::-webkit-scrollbar-thumb:active{
	background-color: #718980;
	border: 1px solid #718980;
} 

#comentarioViejo::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
} 

#page_video #Foro #comentarioViejo .oldcomment {
	
}

#page_video #Foro #comentarioViejo .espacioComentario {
	display: none;
}

#page_video #Foro .espacioComentario span a {
	margin-right: 1%;
}

#page_video #Foro #comentarioViejo ul {
	padding-left: 2.5%;
	margin-bottom: 0;
}

#page_video #Foro #comentarioViejo ul li {
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #052b24;
	text-align: left;
}

#page_video #Foro #comentarioViejo ul li h5 {
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #052b24;
	margin-bottom: 0;
}

#page_video #Foro #comentarioViejo ul li span {
	font-family: "Aleo Lightitalic", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #052b24;
}

#page_video #Foro #comentarioViejo p {
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2d2d2d;
	padding-left: 4%;
	margin-bottom: 0;
}

#page_video #Foro #comentarioViejo .botResp span a,
#page_video #Foro #comentarioViejo .espacioComentario span a {
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8e8e8e;
}

#page_video #Foro #comentarioViejo .botResp span a:hover,
#page_video #Foro #comentarioViejo .espacioComentario span a:hover {
	color: #052b24;
}

#page_video #Foro #comentarioViejo .botResp span:first-child {
	margin-right: 1%;
}

#page_video #Foro #comentarioViejo .botResp {
	padding-left: 5%;
}

#page_video #Foro #comentarioViejo textarea {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
	margin-right: 2.5%;
	margin-left: 6%;
	background-color: rgba(43,158,136,0.10); 
	height: 60px;
	width: 95%;
	border-radius: 15px;
	border:none;
	margin-top: 25px;
	margin-bottom: 30px;
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3f3f3f;
	padding: 1.5% 2.5%;
	outline: none;
}

#page_video #Foro #comentarioViejo .btnlft {
	text-align: right;
}

#page_video #Foro #comentarioViejo .btnlft button {
	width: 90px;
	background-color: #27b193;
	border: none;
	border-radius: 20px;
	color: black;
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 20px;
}

#page_video #Foro .nuevoComentario .row .col-md-3 {
	text-align: left;
	color: #2D2D2D;
	padding: 0 0 0 4%;
}

#page_video #Foro .nuevoComentario .row .col-md-3 h4 {
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-top: 25px;
}

#page_video #Foro .nuevoComentario .row .col-md-3 p {
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 0;
}

#page_video .container .row .col-md-12 div .tab-content #Foro .nuevoComentario textarea {
	margin: 0 2.5% 15px 0;
	background-color: rgba(43,158,136,0.10);
	height: 92px;
	width: 95%;
	border-radius: 15px;
	border:none;
	margin-top: 25px;
	margin-bottom: 30px;
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3f3f3f;
	padding: 1.5% 2.5%;
	outline: none;
}


#page_video .container .row .col-md-12 div .tab-content #Foro .nuevoComentario button {
	width: 130px;
	background-color: #27b193;
	border: none;
	border-radius: 20px;
	margin-bottom: 10px;
	color: white;
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 28px;
}

#page_video .container .row .col-md-12 div .tab-content #Foro .nuevoComentario {
	border-bottom: 3px solid #27b193;
	text-align: right;
}

/******************************CSS NOTAS DEL PROFESOR *******************************/

#page_video .container .row .col-md-12 div .tab-content #NotasDelProfesor {
	padding: 0 2.5%;
}

#page_video .container .row .col-md-12 div .tab-content #NotasDelProfesor h3 {
	font-family: "Blanch Caps", Arial, Helvetica, sans-serif;
	font-size: 36px;
	color:#052828;
	display: inline-block;
	padding-right: 50px;
	border-bottom: 1px solid #27b193;
	margin-bottom: 15px;
}

#page_video .container .row .col-md-12 div .tab-content #NotasDelProfesor ul li {
	color: #27b193;
	font-size: 20px;
	margin-bottom: 5px;
	text-align: left;
}

#page_video .container .row .col-md-12 div .tab-content #NotasDelProfesor ul li span {
	color: #000;
	font-size: 16px;
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
}

#page_video .container .row .col-md-12 div .tab-content #NotasDelProfesor ul li span span {
	color: #000;
	font-size: 16px;
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
}

/****************************** CSS DESCARGABLES ***************************************************/

#page_video .container .row .col-md-12 div .tab-content #Descargables {
	padding: 3.5% 2.5%;
}

#page_video .container .row .col-md-12 div .tab-content #Descargables .media {
	border-bottom: 2px solid #27b193;
	padding-bottom: 1%;
}

@media (max-width: 460px) {
	#page_video .container .row .col-md-12 div .tab-content #Descargables .media:first-child {
	    margin-top: 40px;
	}
}

#page_video .container .row .col-md-12 div .tab-content #Descargables .media:last-child {
	border-bottom: none;
}

#page_video .container .row .col-md-12 div .tab-content #Descargables .media .media-left a img {
	width: auto;
	height: 75px;
}

#page_video .container .row .col-md-12 div .tab-content #Descargables .media .media-body {
	padding: 5px 0 0 2.5%;
}

#page_video .container .row .col-md-12 div .tab-content #Descargables .media .media-body p {
	margin: 0;
	color: #2D2D2D;
	font-size: 16px;
	font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
}

#page_video .container .row .col-md-12 div .tab-content #Descargables .media .media-body p:nth-child(2) {
	color: #2D2D2D;
	font-size: 16px;
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
}

#page_video .container .row .col-md-12 div .tab-content #Descargables .media .media-body p:last-child {
	color: #999;
	font-size: 12px;
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
}

/****************************** FOOTER ************************************************************
==================================================================================================*/
footer {
	background: -moz-linear-gradient(left,  #f0f0f0 1%, #ffffff 50%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#f0f0f0), color-stop(50%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f0f0f0 1%,#ffffff 50%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f0f0f0 1%,#ffffff 50%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f0f0f0 1%,#ffffff 50%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to right,  #f0f0f0 1%,#ffffff 50%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0',GradientType=1 );
}

#footer_video {
	padding: 7px 0;
	border-top: 3px solid #27b193;
}

#footer_video .row {
	margin: 0;
}

#footer_video .row .col-md-5 img {
	height: 25px;
	margin-right: 2%;
}

#footer_video .row .col-md-7 {
	text-align: right;
}

#footer_video .row .col-md-7 span {
	color: #A0701A;
	font-size: 12px;
	font-family: "Aleo Light", Arial, Helvetica, sans-serif;
	padding-right: 2%;
}

#footer_video .row .col-md-7 span:first-child {
	margin-right: 8%;
}

@media (max-width: 991px) {
	#footer_video .row .col-md-7 {
	    text-align: center;
	}

	#footer_video {
		text-align: center;
	}
}