.main--padding {
  padding: 70px 6%;
  position: relative;
}

.back-button--top {
  top: 60px;
}

.edit-title {
  border-bottom: 4px solid #5980AD;
  font-family: "Aleo Bold";
  font-size: em(20px);
  padding-left: 20px;
}

.photo-section {
  margin-bottom: 20px;
  text-align: center;
  @include span-columns(3);
  @media (max-width: 992px) {
    @include span-columns(4);
  }
  @media (max-width: 750px) {
    @include span-columns(12);
    margin-right: 0;
  }
  &__image {
    border: 6px solid #4D6C99;
    border-radius: 16px;
    margin-bottom: 15px;
  }
}

.info-container {
  padding: 10px 20px;
  background-color: rgba(#4D6C99, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
}

.general-info {
  @include span-columns(5);
  @media (max-width: 992px) {
    @include span-columns(8);
    margin-right: 0;
  }
  @media (max-width: 750px) {
    @include span-columns(12);
    margin-right: 0;
  }
  &__name {
    font-weight: 300;
    font-family:"Blanch Caps";
    font-size: em(64px);
    color: #08143A;
    line-height: 1;
    margin-bottom: 15px;
    &:after {
      content: " ";
      border-bottom: 1px solid #15344C;
      width: 350px;
      display: table-cell;
    }
  }
  &__full-name {
    font-family: "Aleo Regular";
    font-size: em(18px);
    margin: 0;
  }
  &__hometown {
    font-family: "Aleo Light";
    font-size: em(15px);
    margin: 0;
  }
  &__description {
    font-family: "Aleo Light";
    font-size: em(15px);
    margin: 15px 0;
  }
}

.specific-info{
  @include span-columns(4);
  @media (max-width: 992px) {
    @include span-columns(12);
  }
  &__title {
    font-family: "Aleo Bold";
    font-size: em(17px);
    margin: 0;
    &--first {
      margin-top: 15px;
    }
  }
  &__legend {
    font-family: "Aleo Light";
    font-size: em(17px);
    margin: 0;
    margin-bottom: 15px;
  }
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  @include size(30px);
  display: block;
  background: rgba(#5980AD, .31) url('../public/images/admin/admin-edit.png') center/18px no-repeat ;
  @include transition(0.5s); 
  &:hover {
    background-color: rgba(#5980AD, .6);
  }
}
