/*===================ENGINEERING STYLES==================================================*/
.engineering {
	.engineering-banner {
		background-size: cover;
		width: 100%;
		height: 28vw;
		max-height: 374px;
		-webkit-box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
		-moz-box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
		box-shadow: 0px 6px 12px -4px rgba(66,66,66,0.58);
		z-index: 5;
	}
	article.engineering-information {
		padding: 70px 0;
		z-index: -9999;
		.contain-engineering-information {
			@include outer-container;
			.engineering-img {
				@include span-columns(2);
				img {
					width: 140px;
				}
			}
			.engineering-inf {
				@include span-columns(5);
				p {
				    text-align: right;
    				font-family: "Aleo Light";
    				font-size: em(18px);
    				line-height: 1.3;
				    padding: 5px 4%;
				}
			}
			.engineering-tittle {
				@include span-columns(5);
				img {
					width: 350px;
				}
			}
		}
	}
	.search-bar {
		height: 60px;
		text-align: center;
		.contain-search-bar {
			@include outer-container;
			.search-input {
				display: inline-block;
				padding-bottom: 5px;
				input {
					height: 40px;
					width: 280px;
					border-radius: 10px;
					margin-bottom: 0;
				}
			}
			.search-arrow {
				display: inline-block;
				h1 {
					font-family: "Blanch Caps";
    				font-size: em(40px);
    				font-weight: 500;
    				display: inline-block;
    				margin-bottom: 0;
				}
				input {
					border: none;
					background: url('../public/images/ingenierias/electronica/ingenieria_flecha_organizar.svg') no-repeat center;
					padding: 0;
				  	width: 20px;
				  	margin-top: -10px;
					display: inline-block;
					background-size: 100%;
				}
			}
		}
	}
}
/*===================ENGINEERING BANNEER URL VARIABLES===================================================================*/
.electronica-url-banner { background: url("../public/images/ingenierias/electronica/ingenieria_portada_electronica.jpg") no-repeat center;}
.electrica-url-banner { background: url("../public/images/ingenierias/electrica/ingenieria_portada_electrica.jpg") no-repeat center;}
.sistemas-url-banner { background: url("../public/images/ingenierias/sistemas/ingenieria_portada_sistemas.jpg") no-repeat center;}
.industrial-url-banner { background: url("../public/images/ingenierias/industrial/ingenieria_portada_industrial.jpg") no-repeat center;}
.civil-url-banner { background: url("../public/images/ingenierias/civil/ingenieria_portada_civil.jpg") no-repeat center;}
.mecanica-url-banner { background: url("../public/images/ingenierias/mecanica/ingenieria_portada_mecanica.jpg") no-repeat center;}
/*===================ENGINEERING BORDER LEFT AND RIGHT COLORS VARIABLES==================================================*/
.electronica-engineering-border { border-right: 4px solid #034c3b; border-left: 4px solid #034c3b;}
.electrica-engineering-border { border-right: 4px solid red; border-left: 4px solid red;}
.sistemas-engineering-border { border-right: 4px solid yellow; border-left: 4px solid yellow;}
.industrial-engineering-border { border-right: 4px solid pink; border-left: 4px solid pink;}
.civil-engineering-border { border-right: 4px solid orange; border-left: 4px solid orange;}
.mecanica-engineering-border { border-right: 4px solid purple; border-left: 4px solid purple;}
/*===================ENGINEERING SEARCH BAR BACKGROUND URL VARIABLES==================================================*/
.electronica-search-bar { background: url('../public/images/ingenierias/electronica/ingenieria_barraBusqueda_electronica.png') no-repeat center;}
.electrica-search-bar { background: url('../public/images/ingenierias/electrica/ingenieria_barraBusqueda_electrica.png') no-repeat center;}
.sistemas-search-bar { background: url('../public/images/ingenierias/sistemas/ingenieria_barraBusqueda_sistemas.png') no-repeat center;}
.industrial-search-bar { background: url('../public/images/ingenierias/industrial/ingenieria_barraBusqueda_industrial.png') no-repeat center;}
.civil-search-bar { background: url('../public/images/ingenierias/civil/ingenieria_barraBusqueda_civil.png') no-repeat center;}
.mecanica-search-bar { background: url('../public/images/ingenierias/mecanica/ingenieria_barraBusqueda_mecanica.png') no-repeat center;}






