/*===================HEADER STYLES==================================================*/
header {
	background-color: #fff !important;
	border: none;
	.navigation-wrapper {
		#js-mobile-menu {
			height: 60px;
		}
		a {
			img {
				height: 60px;
			} 
			.to-arrow {   /*Hamburger button*/
				.hamburger-box {
					background-color: #fff !important;
					margin: 0;
					span {
						display: none;
						color: #fff !important;
					}
					.bun, .meat {
						background-color: #5980AD !important;
						height: 3px;
					}
					.top {
						top: 22px;
					}
					.bottom {
						bottom: 23px;
					}
				}
				.hamburger-box:hover {
					.meat {
						margin-left: 0;
						width: 22px;
					}
					.top {
					    transform: none;
					    width: 22px;
					    margin-left: 0;
					}
					.bottom {
					    transform: none;
					    width: 22px;
					    margin-left: 0;
					}
				}
			}
		}
		nav {
			ul {
				li {
					padding-right: em(9px) !important;
					a {
						color: #000 !important;	
						font-family: "Blanch caps";
    					font-size: em(27px);
    					padding-right: em(11px) !important;
					}
					a:hover {
						color: #5980AD !important;
					}			
				}
				li:nth-child(3) {
					padding-right: 0;
					margin-right: 13px !important;
					border-right: 2px solid #000;
					$mobile: new-breakpoint(max-width 859px);
					@include media($mobile) {
						border-right: none;
					}
					.modal { //====== MODAL STYLES ========//
						display: inline-block;
						label {
							.modal-trigger {
								padding: 0;
								color: #000 !important;	
								font-family: "Blanch caps";
								font-size: em(27px);
								font-weight: 500;
								&:hover {
									color: #5980AD !important
								}
							}
						}
						.modal-fade-screen {
						    background-color: rgba(0, 0, 0, 0.7);
						    $mobile: new-breakpoint(max-width 859px);
							@include media($mobile) {
								padding-top: 20%;								
							}
							$mobile: new-breakpoint(max-width 650px);
							@include media($mobile) {
								padding-top: 25%;								
							}
							$mobile: new-breakpoint(max-width 600px);
							@include media($mobile) {
								padding-top: 10vh;								
							}
							.modal-inner {
								width: 370px;
								height: 328px;
								max-height: 100% !important;
								border-radius: 20px;
								padding: 1em 2.5em;
								overflow: hidden !important;
								$mobile: new-breakpoint(max-width 400px);
								@include media($mobile) {
									width: 320px;
								    padding: 1em								
								}
								@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
									overflow: scroll;
								}
								.modal-close {
									top: 1px;
									width: 0;
									height: 0;
									&::before,
									&::after {
										display: none;
									}
									p {
										font-family: "Blanch caps";
										color: #094268;
										font-size: em(28px);
										margin-bottom: 0;
									}
								}
								form.form1 {
									h1 {
										font-size: em(42px);
										color: #094268;
										font-family: "Blanch caps";
										font-weight: 500;
										margin-bottom: 0;
										text-align: center;
									}
									hr {
									    margin: 0 auto 2px auto;
									    width: 100%;
									    border-bottom: 1px solid rgba(19, 99, 150, 0.3);
									    &:nth-child(10) {
									    	margin-top: 10px;
									    	border-bottom: 1px solid rgba(19, 99, 150, 0.3);
									    	width: 100%;
									    }
									}
									label {
										color: #000;
										font-size: em(30px);
										font-family: "Blanch caps";
										margin-bottom: 0;
										font-weight: 500;
										margin-left: 10px;
										span {
											font-family:"Aleo Lightitalic";
											color: red;
											font-size: 16px;
											margin-left: 10px;
										}
									}
									input {
										border-radius: 12px;
									    color: #0F4760;
									    font-family: "Aleo Light";
									    background-color: rgba(19,99,150, 0.3);
									    border: none;
									    display: block;
									    width: 291px;
									    height: 27px;
									    margin-top: -15px;
										margin-bottom: -10px;
										padding: 0 5%;
									}
									input[type="checkbox"] {
										margin: 0;
										display: inline-block;
										@include size(15px);
										margin-left: 10px;
									}
									span {
										font-family: "Aleo Lightitalic";
									    font-size: em(12px);
									    color: #6D6D6D;
									}
									button {
										display: block;
										margin: -30px 0 0 auto;
    									padding: 3px 25px;		
										font-family: "Blanch Caps";
										font-size: em(23px);
										background-color: #0D5880;
										color: #fff !important;
										border-radius: 16px;
									}
									div {
										text-align: center;
										line-height: 1.2;
										span {
											color: #3f3f3f;
										    font-family: "Aleo Light";
										    font-size: em(12px);
										}
										strong {
											a {
											    color: #000;
											    font-family: "Aleo Bold";
											    font-size: em(15px);
											}
										}
										a {
											font-family: "Aleo Light";
										    font-size: em(12px); 
										    &:hover {
										    	color: #0D5880;
										    	text-decoration: underline;
										    }
										}
									}
								}
								form.form2 {
									display: none;
									h1 {
										font-size: em(42px);
										color: #094268;
										font-family: "Blanch caps";
										font-weight: 500;
										margin-bottom: 0;
										text-align: center;
									}
									hr {
									    margin: 0 auto 2px auto;
									    width: 100%;
									    border-bottom: 1px solid rgba(19, 99, 150, 0.3);
									    margin-top: 10px;
									}
									p {
										margin-top: 50px;
										font-family: "Aleo Light";
										text-align: center;
										font-size: 0.9285em;
										line-height: 1.1;
									}
									input {
										width: 100%;
										height: 27px;
										border-radius: 12px;
									    color: #0F4760;
									    font-family: "Aleo Light";
									    background-color: rgba(19,99,150, 0.3);
									    padding: 0 5%;
									}
									.buttons-next-cancel {
										text-align: center;
										margin-bottom: 40px;
										a {
											margin: -20px 0 0 auto;
	    									padding: 0 !important;		
											font-family: "Blanch Caps";
											font-size: em(23px);
											background-color: #0D5880;
											color: #fff !important;
											border-radius: 16px;
										    line-height: 1.3;
    										width: 100px;
    										&:first-child {
    											margin-right: 10px;
    										}
										}
									}
								}
								form.form3 {
									display: none;
									h1 {
										font-size: em(42px);
										color: #094268;
										font-family: "Blanch caps";
										font-weight: 500;
										margin-bottom: 0;
										text-align: center;
									}
									hr {
									    margin: 0 auto 2px auto;
									    width: 100%;
									    border-bottom: 1px solid rgba(19, 99, 150, 0.3);
									    margin-top: 10px;
									}
									p {
										margin-top: 50px;
										font-family: "Aleo Light";
										text-align: center;
										font-size: 0.9285em;
										line-height: 1.1;
									}
									input {
										width: 50%;
										height: 27px;
										border-radius: 12px;
									    color: #0F4760;
									    font-family: "Aleo Light";
									    background-color: rgba(19,99,150, 0.3);
									    padding: 0 5%;
									    margin: 0 auto 12px auto;
									}
									.buttons-next-cancel {
										text-align: center;
										margin-bottom: 40px;
										a {
											margin: -20px 0 0 auto;
	    									padding: 0 !important;		
											font-family: "Blanch Caps";
											font-size: em(23px);
											background-color: #0D5880;
											color: #fff !important;
											border-radius: 16px;
										    line-height: 1.3;
    										width: 100px;
    										&:first-child {
    											margin-right: 10px;
    										}
										}
									}
								}
								form.form4 {
									display: none;
									h1 {
										font-size: em(42px);
										color: #094268;
										font-family: "Blanch caps";
										font-weight: 500;
										margin-bottom: 0;
										text-align: center;
									}
									hr {
									    margin: 0 auto 2px auto;
									    width: 100%;
									    border-bottom: 1px solid rgba(19, 99, 150, 0.3);
									    margin-top: 10px;
									}
									label {
										color: #000;
										font-size: em(30px);
										font-family: "Blanch caps";
										margin-bottom: 0;
										font-weight: 500;
										margin-left: 10px;
										span {
											font-family:"Aleo Lightitalic";
											color: #103159;
											font-size: 14px;
											margin-left: 10px;
										}
									}
									input {
										border-radius: 12px;
									    color: #0F4760;
									    font-family: "Aleo Light";
									    background-color: rgba(19,99,150, 0.3);
									    border: none;
									    display: block;
									    width: 291px;
									    height: 27px;
									    margin-top: -15px;
										margin-bottom: -10px;
										padding: 0 5%;
									}
									.buttons-next-cancel {
										text-align: center;
										margin-top: 30px;
										a {
											margin: -20px 0 0 auto;
	    									padding: 0 !important;		
											font-family: "Blanch Caps";
											font-size: em(23px);
											background-color: #0D5880;
											color: #fff !important;
											border-radius: 16px;
										    line-height: 1.3;
    										width: 100px;
    										&:first-child {
    											margin-right: 10px;
    										}
										}
									}
								}
								form.form5 {
									display: none;
									h1 {
										font-size: em(42px);
										color: #094268;
										font-family: "Blanch caps";
										font-weight: 500;
										margin-bottom: 0;
										text-align: center;
									}
									hr {
									    margin: 0 auto 2px auto;
									    width: 100%;
									    border-bottom: 1px solid rgba(19, 99, 150, 0.3);
									    margin-top: 10px;
									}
									p {
										margin-top: 70px;
										font-family: "Aleo Light";
										text-align: center;
										font-size: 0.9285em;
										line-height: 1.1;
									}
									.buttons-next-cancel {
										text-align: center;
										margin-bottom: 60px;
										a {
											margin: -20px 0 0 auto;
	    									padding: 0 !important;		
											font-family: "Blanch Caps";
											font-size: em(23px);
											background-color: #0D5880;
											color: #fff !important;
											border-radius: 16px;
										    line-height: 1.3;
    										width: 100px;
										}
									}
								}
							}
						}
					}
				}
				.nav-link {
					background-color: #fff !important;
					text-align: center;
					$mobile: new-breakpoint(max-width 859px);
					@include media($mobile) {
						padding: 0 !important;
					}
					a {
						$mobile: new-breakpoint(max-width 859px);
						@include media($mobile) {
							padding: 0 !important;
						}
					}
				}
			}
		}
	}
}
/*===================HEADER FIXED ON TOP==================================================================*/
.header-fixed { position: fixed;} 
/*===================HEADER COLOR LINE====================================================================*/
.home-header { border-bottom: 3px solid #FFF !important;}
.signup-header { border-bottom: 3px solid #5980AE !important;}
.electronica-header { border-bottom: 3px solid #009E87 !important;}
.electrica-header { border-bottom: 3px solid red !important;}
.sistemas-header { border-bottom: 3px solid yellow !important;}
.industrial-header { border-bottom: 3px solid pink !important;}
.civil-header { border-bottom: 3px solid orange !important;}
.mecanica-header { border-bottom: 3px solid purple !important;}






