/*===================VIDEO STYLES==================================================*/
.video {
	.multimedia {
		@include outer-container;
		padding: 25px 0;
		@media (max-width: 1100px) {
			margin: 0 3%;
		}
		.tabs { /*----- Tabs -----*/
			width:100%;
    		display:inline-block;
    		.multimedia-bar { // MULTIMEDIA BAR (CIRCLES OF VIDEO AND INTERACTIVES EXERCISES)
    			height: 54px;
				border-top-right-radius: 12px;
				border-top-left-radius: 12px;
				position: relative;
				width: 100%;
				text-align: center;
				margin-bottom: 0px;
				border-bottom: none;
				padding: 15px 2% 0;
    			ul.tab-links {
	    			text-align: center;
				    display: table;
				    width: 100%;
				    border-radius: 4px 4px 0 0;
				    -webkit-transition-delay: 0.5s;
				    transition-delay: 0.5s;
				    -webkit-transition: -webkit-transform 0.3s ease;
				    transition: transform 0.3s ease;
				    box-sizing: border-box;
				    list-style: none;
				    vertical-align: baseline;
	    			li.content {
				        width: 23px;
					    position: relative;
					    display: table-cell;
					    box-sizing: border-box;
					    vertical-align: baseline;
					    &:hover {
					    	.content-tooltip { //TOOLTIP
					    		visibility: visible;
							    opacity: 1;
							    -webkit-transform: translate(-50%, -3px);
							    -ms-transform: translate(-50%, -3px);
							    transform: translate(-50%, -3px);
					    	}
					    }
					    &:first-child {
					    	.content-tooltip { //TOOLTIP
					    		left: 85px;
					    		@media (max-width: 790px) {
									left: 36px;
								}
					    		&:before {
					    			left: 22px;
					    		}
					    	}
					    }
					    &:last-child {
					    	.content-tooltip { //TOOLTIP
					    		left: auto;
    							right: -135px;
    							@media (max-width: 790px) {
									left: auto;
	    							right: -58px;
								}
					    		&:before {
					    			left: auto;
    								right: 42px;
    								@media (max-width: 790px) {
    									left: auto;
	    								right: 6px;
    								}
					    		}
					    	}
					    }
				        a {
				            position: relative;
						    width: 23px;
						    display: block;
						    height: 60px;
				        }
				        .content-tooltip { //TOOLTIP
				        	position: absolute;
						    background: #fff;
						    text-align: center;
						    padding: 10px 10px;
						    width: 190px;
						    z-index: 1000;
						    border-radius: 6px;
						    visibility: hidden;
						    opacity: 0;
						    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
						    transition: transform 0.3s ease, opacity 0.3s ease;
						    box-shadow: 0 0 1px 1px rgba(0,0,0,0.08),0 0 1px rgba(0,0,0,0.1),0 2px 0 rgba(0,0,0,0.08);
						    -webkit-transform: translate(-50%, -10px);
						    -ms-transform: translate(-50%, -10px);
						    transform: translate(-50%, -10px);
						    left: 50%;
						    top: 100%;
						    display: block;
						    box-sizing: border-box;
						    vertical-align: baseline;
						    @media (max-width: 790px) {
								width: 100px;
							}
						    h6 { //TOOLTIP
								font-family: "Aleo Bold";
								font-size: 0.7857em;
								font-weight: 500;
								margin: 0;
						    }
						    em { //TOOLTIP
						    	color: #000;
								font-family: "Aleo Lightitalic";
								font-size: 0.7857em;
								font-weight: 500;
						    }
						    &:before { //TOOLTIP
						    	position: absolute;
							    z-index: 1001;
							    content: "";
							    background: #fff;
							    width: 10px;
							    height: 10px;
							    bottom: 100%;
							    -webkit-transform-origin: center center;
							    -ms-transform-origin: center center;
							    transform-origin: center center;
							    box-shadow: -1px -1px 0 rgba(0,0,0,0.05);
							    -webkit-transform: translate(-50%, 50%) rotate(45deg);
							    -ms-transform: translate(-50%, 50%) rotate(45deg);
							    transform: translate(-50%, 50%) rotate(45deg);
							    left: 50%;
							    border-radius: 3px 0 0 0;
							    box-sizing: border-box;
						    }
				        }
	    			}
	    			li.separator { // DIVISOR LINE
	    				position: relative;
					    display: table-cell;
					    box-sizing: border-box;
					    vertical-align: baseline;
					    &:before {
					    	content: "";
						    position: absolute;
						    background: #FFF;
						    top: 11px;
						    left: 0;
						    right: 0;
						    height: 2px;
						    color: #FFF;
						    opacity: 0.1;
						    border-radius: 2px;
						    box-sizing: border-box;
						    margin: 0 10px;
					    }
	    			}
	    		}
    		}
    		.tab-content { /*----- Content of Tabs -----*/
		        background: transparent;
		        .tab {
		        	display:none;
		        	position: relative;
					.mejs-video {  // MEJS PLAYER
						background-color: #2A2D2D;
						max-height: 450px;
						height: 100vw;
						min-height: 200px;
						.mejs-inner {
							.mejs-mediaelement {
								position: relative;
							}
							.mejs-controls { /*CONTROLES REPRODUCTOR*/
								position: relative;
								bottom: 7px;
								.mejs-time-rail {
									width: 86.5%;
									@media (max-width: 1150px) {
										width: 60%;
									}
									.mejs-time-total {
										border-radius: 14px;
										width: 85.7%;
										@media (max-width: 1150px) {
											width: 59%;
										}
										.mejs-time-current {
											// background: #3A8380;
											border-radius: 14px;
										}
										.mejs-time-loaded {
											// background: #043a30;
											border-radius: 14px;
										}
										.mejs-time-float {
											border: none;
											background: none;
											text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
											font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
											font-size: 13px;
											color: #fff;
										}
									}
								}
							}
						}
		        	}
		        	.mejs-container-fullscreen { //FULLSCREEN VIDEO
		        		max-height: 100% !important;
		        		.mejs-video {
		        			max-height: 100% !important;
		        		}
		        		.mejs-inner {
		        			height: 100% !important;
		        			.mejs-controls {
		        				position: absolute !important;
    							bottom: 0px !important;
    							background: -webkit-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
		        			}
		        		}
		        	}
		        	.nextVideo { //WHEN THE VIDEO FINISH THIS APPEAR
		        		display: none;
						max-height: 450px;
						height: 75vw;
						min-height: 200px;
						background-color: #2a2d2d;
						padding: 18% 0 0 0;
						position: relative;
						text-align: center;
						@media (max-width: 800px) {
							padding: 28% 0 0 0;
						}
						.primeric {
							display: inline-block;
							text-align: center;
							margin-right: 30px;
							position: relative;
							a {
								position: relative;
								img {
									position: relative;
									width: 70%;
								}
							}
							p {
								color: #fff;
								font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
								font-size: 13px;
							}
						}
						.segundoic {
							display: inline-block;
							text-align: center;
							position: relative;
							a {
								position: relative;
								img {
									position: relative;
									width: 100%;
								}
							}
							p {
								color: #fff;
								font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
								font-size: 13px;
							}
						}
		        	}
		        }
		        .tab.active {
		        	display: block;
		        	position: relative;
		        	background-color: transparent;
		        }
		        .tab.exercise {  //STYLES FOR INTERACTIVE EXERCISES
		        	background-color: #f9fafa;
		        	padding: 20px 0;
		        	padding-right: 2%;
		        	h3 {
		        		font-family:"Blanch Caps";
		        		font-size: 3.2142em;
		        		margin: 0;
		        		padding: 0 5%;
		        		span {
		        			font-size: 0.7em;
		        		}
		        	}
		        	.exercise-content { //STYLES FOR INTERACTIVE EXERCISES
		        		margin-top: 5px;
		        		margin-bottom: 50px;
		        		p {
		        			font-family: "Aleo Bold", Arial, Helvetica, sans-serif;
		        			font-size: 1.2142em;
		        			padding: 0 5%;
		        			line-height: 1;
		        		}
		        		a {
		        			color: #000;
			        		.answer {
			        			    margin-bottom: 2%;
								    display: flex;
								    align-items: center;
								    margin-left: 5%;
			        			.letter {
									border-radius: 12px;
									border: 1px solid #ebedef;
									height: 50px;
									width: 50px;
									display: inline-block;
									margin-right: 1%;
									background-color: #f3f5f6;
									p {
										font-family:"Blanch Caps";
			        					font-size: 3.2142em;
			        					text-align: center;
										vertical-align: middle;
										line-height: 50px; 
									}
			        			}
			        			.possible-answer {
									border-radius: 12px;
									border: 1px solid #ebedef;
									min-height: 50px;
									width: 70%;
									display: inline-block;
									background-color: #f3f5f6;
									p {
				        				font-family: "Aleo Regular", Arial, Helvetica, sans-serif;
				        				font-size: 1.1428em;
										vertical-align: middle;
										line-height: 1; 
										padding-left: 10px;
										padding-right: 0;
										margin: 14px 0;
									}
			        			}
			        		}
			        		&:hover {
			        			.answer {
			        				.letter {
										background-color: #fff;
			        				}
			        				.possible-answer {
										background-color: #fff;
			        				}
			        			}
			        		}
			        	}
			        	a:last-child {
			        		.answer {
			        			margin-bottom: 70px;
			        		}
			        	}	
		        	}
		        	.exercise-next {
		        		background-color: #718980;
		        		position: absolute;
		        		bottom: 0;
		        		width: 100%;
		        		text-align: center;
		        		min-height: 54px;
		        		padding: 10px 0;
		        		button {
		        			font-family: "Aleo Regular", Arial, Helvetica, sans-serif;
		        			background-color: transparent;
		        			border-radius: 20px;
		        			&:hover {
		        				background-color: rgba(255,255,255,0.5);
		        			}
		        		}
		        		.ex-check {
		        			&:hover {
		        				color: #fff;
		        			}
		        		}
		        	}
		        }
    		}
		}//========= MULTIMEDIA (VIDEOS AND INTERACTIVES QUESTIONS) ===================
	}
	 	.tools {  //========= TOOLS (FORO, NOTAS, DESCARGABLES) ===================
		@media (max-width: 1100px) {
			margin: 0 3%;
		}
		.tools-container {
			@include outer-container;
			h2 {
				font-family:"Blanch Caps";
				font-size: 3.1428em;
				margin-top: 5px;
    			margin-bottom: -10px;
			}
			span {
				font-family: "Aleo Regular", Arial, Helvetica, sans-serif;
				color:#727272;
				font-size: 1em;
				padding-left: 20px;
			}
			ul.accordion-tabs-minimal { //========= HEAD UL TOOLS ===================
				margin-top: 35px;
			    // background-color: #718980;
			    border-top-right-radius: 12px;
			    border-top-left-radius: 12px;
			    min-height: 48px;
				li.tab-header-and-content {
					&:first-child { //============== FORO FORO FORO FORO FORO  =========================
						margin-left: 20px;
						@media (max-width: 430px) {
							margin-left: 10px;
						}
						a {
							max-width: 100px;
						}
						.tab-content {
							.add-comment { //============== FIRST COMMENT AREA  =========================
								@include span-columns(12);
								.text-add-comment {
									@include span-columns(4);
									$mobile: new-breakpoint(max-width 700px);
									@include media($mobile) {
										display: none;
									}
									h4 {
										font-family: "Aleo Bold";
										font-size: 1.1428em;
									}
									p {
										font-family:"Aleo Light";
										font-size: 1.1428em;
										padding-right: 6%;
										line-height: 1.3;
									}
								}
								.textarea-comment {
									@include span-columns(8);
									margin-right: 0;
									$mobile: new-breakpoint(max-width 700px);
									@include media($mobile) {
										@include span-columns(12);
									}
									textarea {
										height: 100px;
    									border-radius: 20px;
    									border: none;
    									font-family:"Aleo Light";
										font-size: 1.0714em;
										padding: 15px;
									}
									button {
										font-family:"Blanch Caps";
										font-size: 2.071em;
										padding: 0 30px 3px;
										border-radius: 20px;
										float: right;
									}
								}
								hr {
									@include span-columns(12);
									// border-bottom: 3px solid #ddd;
									margin-top: 10px;
								}
							}
							#all-old-comments { //========= ALL COMMENTS ===================
								@include span-columns(12);
								overflow: auto;
								height: 450px;
								padding-right: 10px;
								.old-comments {
									@include span-columns(12);
									.structure-old-comment {
										padding-left: 20px;
										ul {
											list-style-type: disc;
											li {
												h5 {
													font-family: "Aleo Bold";
													font-size: 1.1428em;
													margin-bottom: 0;
													span {
														font-family:"Aleo BoldItalic";
														padding: 0 5px !important;
														font-size: 0.9em;
													}
												}
											}
										}
										p {
											color: #2d2d2d;
											font-family:"Aleo Light";
											font-size: 1em;
											margin-bottom: 0;
											line-height: 1.3;
										}
										.botResp {
											padding-left: 10px;
											margin-bottom: 10px;
											a {
												font-family: "Aleo Light", Arial, Helvetica, sans-serif;
											    font-size: 0.8571em;
											    color: #8e8e8e;
											    &:hover {
											    	text-decoration: underline;
											    }
											}
										}
										.response-over-response {
											padding-left: 20px;
											margin-top: 10px;
											position: relative;
											margin-bottom: 40px;
											display: none;
											textarea {
												height: 75px;
		    									border-radius: 20px;
		    									border: none;
		    									font-family:"Aleo Light";
												font-size: 1em;
												padding: 10px 15px;
											}
											.btnlft {
												position: absolute;
												right: 0;
												a{
													font-family: "Aleo Light", Arial, Helvetica, sans-serif;
												    font-size: 0.8571em;
												    color: #8e8e8e;
												    &:hover {
												    	text-decoration: underline;
												    }
												}
												button {
													font-family:"Blanch Caps";
													font-size: 1.4285em;
													padding: 0 20px 3px;
													border-radius: 20px;
												}
											}
										}
										.historialcomment {
											padding-left: 20px;
											// border-left: 3px solid #ccc;
											h5 {
												font-family: "Aleo Bold";
												font-size: 1.1428em;
												margin-bottom: 0;
												span {
													font-family:"Aleo BoldItalic";
													padding: 0 5px !important;
													font-size: 0.9em;
												}
											}
											p {
												margin-bottom: 20px;
											}
										}
									}
									// hr {
									// 	border-bottom: 3px solid #ddd;
									// }
								}
							}
						}
					}
					&:nth-child(2) { //========= NOTAS NOTAS NOTAS NOTAS NOTAS NOTAS =============================
						a {
							max-width: 130px; 
						}
						.tab-content {
							h3 {
								font-family:"Blanch Caps";
								font-size: 2.5em;
								margin-bottom: 0;
								color: #052828;
							}
							hr {
								// border-bottom: 1px solid #27b193;
							    margin: 0 0 20px 0;
    							width: 160px;
							}
							ul {
								list-style-type: disc;
								    margin-left: 20px;
								li {
									margin-bottom: 15px;
									// color: #27b193;
									font-size: 1.4285em;
									line-height: 1.2;
									span {
										font-family: "Aleo Light", Arial, Helvetica, sans-serif;
								    	font-size: 18px;
								    	color: #000;
								    	padding-left: 0;
								    	span {
								    		font-family:"Aleo Bold";
								    		color: #000;
								    		padding-left: 0;
								    		font-size: 0.99em;
								    	}
									}
								}
							}
						}
					}
					&:last-child { //========= DESCARGABLES DESCARGABLES DESCARGABLES ==============================
						a {
							max-width: 188px;
							min-width: 130px;
						}
						.tab-content {
							.media {
								.media-left {
									@include span-columns(1);
									a {
										img {
											width: 100%;
											min-width: 52px;
										}
									}
								}
								.media-body {
									@include span-columns(11);
									@media (max-width: 850px) {
										margin-right: 1px !important;
									}
									p {
										margin: 0;
										color: #000;
										line-height: 1.2;
										&:first-child {
											font-family:"Aleo Bold";
											font-size: 1.1428em;
										}
										&:nth-child(2) {
											font-family:"Aleo Light";
											font-size: 1.1428em;
										}
										&:last-child {
											font-family:"Aleo Light";
											color: #999;
											font-size: 0.8571em;
										}
									}
								}
							}
							hr {
								@include span-columns(12);
								// border-bottom: 2px solid #27b193;
							}
						}
					}
					a {
						font-family: "Aleo Bold";
						font-size: 1.2857em;
						background-color: transparent;
						padding: 5px;
						text-align: center;
						margin-top: 7px;
						border-top-right-radius: 12px;
			    		border-top-left-radius: 12px;
			    		border: none;
			    		margin-right: 0;
			    		margin-left: 0;
			    		width: 28%;
			    		&:hover {
							color: #F2F2F2;
			    		}
					}
					a.is-active {
						background-color: #F2F2F2;
						&:hover {
							color: #000;
			    		} 
					}
					.tab-content {
						border: none;
						padding-left: 0;
						background-color: #F2F2F2;
						padding-left: 20px;
					}
				}
			}
		}
	}
}
/*===================MULTIMEDIA BAR BACKGROUND COLOR ====================================================================*/
.electronica-bar { background-color: #718980 !important;}
.electrica-bar { background-color: red !important;}
.sistemas-bar { background-color: yellow !important;}
.industrial-bar { background-color: pink !important;}
.civil-bar { background-color: orange !important;}
.mecanica-bar { background-color: purple !important;}
/*===================TITTLE TOOLTIP COLOR ====================================================================*/
.electronica-tooltip h6 { color: #3A8380 !important;}
.electrica-tooltip h6 { color: red !important;}
.sistemas-tooltip h6 { color: yellow !important;}
.industrial-tooltip h6 { color: pink !important;}
.civil-tooltip h6 { color: orange !important;}
.mecanica-tooltip h6 { color: purple !important;}
/*===================IMAGE CIRCLE BAR MULTIMEDIA NO-ACTIVE VIDEO=======================================================*/
li.content .electronica-circle { background: url("../public/images/reproductor/electronica/video.svg") no-repeat;}
li.content .electrica-circle { background: url("../public/images/reproductor/electrica/video.svg") no-repeat;}
li.content .sistemas-circle { background: url("../public/images/reproductor/sistemas/video.svg") no-repeat;}
li.content .industrial-circle { background: url("../public/images/reproductor/industrial/video.svg") no-repeat;}
li.content .civil-circle { background: url("../public/images/reproductor/civil/video.svg") no-repeat;}
li.content .mecanica-circle { background: url("../public/images/reproductor/mecanica/video.svg") no-repeat;}
/*===================IMAGE CIRCLE BAR MULTIMEDIA ACTIVE VIDEO=======================================================*/
li.content.active .electronica-circle { background: url("../public/images/reproductor/electronica/visto.svg") no-repeat;}
li.content.active .electrica-circle { background: url("../public/images/reproductor/electrica/visto.svg") no-repeat;}
li.content.active .sistemas-circle { background: url("../public/images/reproductor/sistemas/visto.svg") no-repeat;}
li.content.active .industrial-circle { background: url("../public/images/reproductor/industrial/visto.svg") no-repeat;}
li.content.active .civil-circle { background: url("../public/images/reproductor/civil/visto.svg") no-repeat;}
li.content.active .mecanica-circle { background: url("../public/images/reproductor/mecanica/visto.svg") no-repeat;}
/*===================IMAGE CIRCLE BAR MULTIMEDIA NO-ACTIVE QUESTION=======================================================*/
li.content.question .electronica-circle { background: url("../public/images/reproductor/electronica/quiz.svg") no-repeat;}
li.content.question .electrica-circle { background: url("../public/images/reproductor/electrica/quiz.svg") no-repeat;}
li.content.question .sistemas-circle { background: url("../public/images/reproductor/sistemas/quiz.svg") no-repeat;}
li.content.question .industrial-circle { background: url("../public/images/reproductor/industrial/quiz.svg") no-repeat;}
li.content.question .civil-circle { background: url("../public/images/reproductor/civil/quiz.svg") no-repeat;}
li.content.question .mecanica-circle { background: url("../public/images/reproductor/mecanica/quiz.svg") no-repeat;}
/*===================IMAGE CIRCLE BAR MULTIMEDIA ACTIVE QUESTION=======================================================*/
li.content.question.active .electronica-circle { background: url("../public/images/reproductor/electronica/resuelto.svg") no-repeat;}
li.content.question.active .electrica-circle { background: url("../public/images/reproductor/electrica/resuelto.svg") no-repeat;}
li.content.question.active .sistemas-circle { background: url("../public/images/reproductor/sistemas/resuelto.svg") no-repeat;}
li.content.question.active .industrial-circle { background: url("../public/images/reproductor/industrial/resuelto.svg") no-repeat;}
li.content.question.active .civil-circle { background: url("../public/images/reproductor/civil/resuelto.svg") no-repeat;}
li.content.question.active .mecanica-circle { background: url("../public/images/reproductor/mecanica/resuelto.svg") no-repeat;}
/*===================PROGRESS BAR BUFFER VIDEO COLORS===========================================================================*/
.electronica-mejs .mejs-time-total .mejs-time-current { background: #3A8380 !important;}
.electrica-mejs .mejs-time-total .mejs-time-current { background: red !important;}
.sistemas-mejs .mejs-time-total .mejs-time-current { background: yellow !important;}
.industrial-mejs .mejs-time-total .mejs-time-current { background: pink !important;}
.civil-mejs .mejs-time-total .mejs-time-current { background: orange !important;}
.mecanica-mejs .mejs-time-total .mejs-time-current { background: purple !important;}
/*===================PROGRESS BAR PLAYING VIDEO COLORS===========================================================================*/
.electronica-mejs .mejs-time-total .mejs-time-loaded { background: #043a30 !important;}
.electrica-mejs .mejs-time-total .mejs-time-loaded { background: red !important;}
.sistemas-mejs .mejs-time-total .mejs-time-loaded { background: yellow !important;}
.industrial-mejs .mejs-time-total .mejs-time-loaded { background: pink !important;}
.civil-mejs .mejs-time-total .mejs-time-loaded { background: orange !important;}
.mecanica-mejs .mejs-time-total .mejs-time-loaded { background: purple !important;}
/*===================PREGUNTA 1 DE 1 TITLE COLOR INTERACTIVE QUESTIONS===========================================================*/
.electronica-mejs.tab.exercise h3 { color: #BC0D37;}
.electrica-mejs.tab.exercise h3 { color: red !important;}
.sistemas-mejs.tab.exercise h3 { color: yellow !important;}
.industrial-mejs.tab.exercise h3 { color: pink !important;}
.civil-mejs.tab.exercise h3 { color: orange !important;}
.mecanica-mejs.tab.exercise h3 { color: purple !important;}
/*===================BACKGROUND BUTTON COLOR INTERACTIVE QUESTIONS===================================================================*/
.electronica-mejs.tab.exercise .exercise-next button { color: #0F5953; border: 2px solid #0F5953;}
.electrica-mejs.tab.exercise .exercise-next button { color: red !important; border: 2px solid red;}
.sistemas-mejs.tab.exercise .exercise-next button { color: yellow !important; border: 2px solid yellow;}
.industrial-mejs.tab.exercise .exercise-next button { color: pink !important; border: 2px solid pink;}
.civil-mejs.tab.exercise .exercise-next button { color: orange !important; border: 2px solid orange;}
.mecanica-mejs.tab.exercise .exercise-next button { color: purple !important; border: 2px solid purple;}
/*===================BACKGROUND BUTTON-2 COLOR INTERACTIVE QUESTIONS=================================================================*/
.electronica-mejs.tab.exercise .exercise-next .ex-check { color: #718980; background-color: #0F5953 !important;}
.electrica-mejs.tab.exercise .exercise-next .ex-check { color: red !important; background-color: red !important;}
.sistemas-mejs.tab.exercise .exercise-next .ex-check { color: yellow !important; background-color: yellow !important;}
.industrial-mejs.tab.exercise .exercise-next .ex-check { color: pink !important; background-color: pink !important;}
.civil-mejs.tab.exercise .exercise-next .ex-check { color: orange !important; background-color: orange !important;}
.mecanica-mejs.tab.exercise .exercise-next .ex-check { color: purple !important; background-color: purple !important;}
/*===================BACKGROUND BUTTON-2:HOVER COLOR INTERACTIVE QUESTIONS===========================================================*/
.electronica-mejs.tab.exercise .exercise-next .ex-check:hover { background-color: #0F5953;}
.electrica-mejs.tab.exercise .exercise-next .ex-check:hover { background-color: red;}
.sistemas-mejs.tab.exercise .exercise-next .ex-check:hover { background-color: yellow;}
.industrial-mejs.tab.exercise .exercise-next .ex-check:hover { background-color: pink;}
.civil-mejs.tab.exercise .exercise-next .ex-check:hover { background-color: orange;}
.mecanica-mejs.tab.exercise .exercise-next .ex-check:hover { background-color: purple;}
/*===================BACKGROUND COLOR UL LIST FOR TOOLS ==============================================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal { background-color: #718980;}
.electrica-tools .tools-container .accordion-tabs-minimal { background-color: red;}
.sistemas-tools .tools-container .accordion-tabs-minimal { background-color: yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal { background-color: pink;}
.civil-tools .tools-container .accordion-tabs-minimal { background-color: orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal { background-color: purple;} 
/*===================BACKGROUND COLOR "COMENTAR" BUTTON IN FORO SECTION===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content button { background-color: #27b193;}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content button { background-color: red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content button { background-color: yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content button { background-color: pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content button { background-color: orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content button { background-color: purple;}      
/*===================BACKGROUND COLOR TEXTAREA COMMENT IN FORO SECTION===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content textarea { background-color: rgba(#2b9e88,0.1);}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content textarea { background-color: red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content textarea { background-color: yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content textarea { background-color: pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content textarea { background-color: orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content textarea { background-color: purple;} 
/*===================BACKGROUND COLOR LINE BETWEEN COMMENTS===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content hr { border-bottom: 3px solid rgba(#27B193,0.3);}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content hr { border-bottom: 3px solid rgba(red,0.3);}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content hr { border-bottom: 3px solid rgba(yellow,0.3);}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content hr { border-bottom: 3px solid rgba(pink,0.3);}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content hr { border-bottom: 3px solid rgba(orange,0.3);}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content hr { border-bottom: 3px solid rgba(purple,0.3);} 
/*===================COLOR BORDER LEFT LINE OF HISTORIAL COMMENTS===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content .historialcomment { border-left: 2px solid #052B24;}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content .historialcomment { border-left: 2px solid red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content .historialcomment { border-left: 2px solid yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content .historialcomment { border-left: 2px solid pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content .historialcomment { border-left: 2px solid orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content .historialcomment { border-left: 2px solid purple;} 
/*===================COLOR TEXT TITTLE USERS COMMENTS===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 { color: #052B24;}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 { color: red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 { color: yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 { color: pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 { color: orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 { color: purple;}
/*===================COLOR TEXT TITTLE USERS COMMENTS===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 span { color: #052B24;}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 span { color: red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 span { color: yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 span { color: pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 span { color: orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content h5 span { color: purple;} 
 /*===================BACKGROUND COLOR LINE ABOVE NOTAS TITILES===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes hr { border-bottom: 1px solid #27b193;}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes hr { border-bottom: 1px solid red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes hr { border-bottom: 1px solid yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes hr { border-bottom: 1px solid pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes hr { border-bottom: 1px solid orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes hr { border-bottom: 1px solid purple;}
/*===================POINT COLOR UL ITEMS NOTAS SECTION ===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes ul li { color: #27b193;}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes ul li { color: red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes ul li { color: yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes ul li { color: pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes ul li { color: orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.notes ul li { color: purple;} 
/*===================BACKGROUND COLOR LINE DESCARGABLES===========================================================*/
.electronica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.downloads hr { border-bottom: 2px solid #27b193;;}
.electrica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.downloads hr { border-bottom: 2px solid red;}
.sistemas-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.downloads hr { border-bottom: 2px solid yellow;}
.industrial-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.downloads hr { border-bottom: 2px solid pink;}
.civil-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.downloads hr { border-bottom: 2px solid orange;}
.mecanica-tools .tools-container .accordion-tabs-minimal .tab-header-and-content .tab-content.downloads hr { border-bottom: 2px solid purple;}
/*================================= SCROLL COLORS =================================================*/
#all-old-comments.electronica-all-old-comments::-webkit-scrollbar{ width: 8px; background-color: transparent; } 

#all-old-comments.electronica-all-old-comments::-webkit-scrollbar-thumb{ background-color:#27b193; border-radius:10px;}
#all-old-comments.electrica-all-old-comments::-webkit-scrollbar-thumb{ background-color:red; border-radius:10px;}
#all-old-comments.sistemas-all-old-comments::-webkit-scrollbar-thumb{ background-color:yellow; border-radius:10px;}
#all-old-comments.industrial-all-old-comments::-webkit-scrollbar-thumb{ background-color:pink; border-radius:10px;}
#all-old-comments.civil-all-old-comments::-webkit-scrollbar-thumb{ background-color:orange; border-radius:10px;}
#all-old-comments.mecanica-all-old-comments::-webkit-scrollbar-thumb{ background-color:purple; border-radius:10px;}

#all-old-comments.electronica-all-old-comments::-webkit-scrollbar-thumb:hover{ background-color:#718980; border:1px solid #333333;}
#all-old-comments.electrica-all-old-comments::-webkit-scrollbar-thumb:hover{ background-color:red; border:1px solid red;}
#all-old-comments.sistemas-all-old-comments::-webkit-scrollbar-thumb:hover{ background-color:yellow; border:1px solid yellow;}
#all-old-comments.industrial-all-old-comments::-webkit-scrollbar-thumb:hover{ background-color:pink; border:1px solid pink;}
#all-old-comments.civil-all-old-comments::-webkit-scrollbar-thumb:hover{ background-color:orange; border:1px solid orange;}
#all-old-comments.mecanica-all-old-comments::-webkit-scrollbar-thumb:hover{ background-color:purple; border:1px solid purple;}

#all-old-comments.electronica-all-old-comments::-webkit-scrollbar-thumb:active{ background-color: #718980; border: 1px solid #718980;} 
#all-old-comments.electrica-all-old-comments::-webkit-scrollbar-thumb:active{ background-color:red; border:1px solid red;}
#all-old-comments.sistemas-all-old-comments::-webkit-scrollbar-thumb:active{ background-color:yellow; border:1px solid yellow;}
#all-old-comments.industrial-all-old-comments::-webkit-scrollbar-thumb:active{ background-color:pink; border:1px solid pink;}
#all-old-comments.civil-all-old-comments::-webkit-scrollbar-thumb:active{ background-color:orange; border:1px solid orange;}
#all-old-comments.mecanica-all-old-comments::-webkit-scrollbar-thumb:active{ background-color:purple; border:1px solid purple;}

#all-old-comments.electronica-all-old-comments::-webkit-scrollbar-track{ border:1px gray solid; border-radius:10px; -webkit-box-shadow:0 0 6px gray inset} 






