/*===================VIDEO STYLES==================================================*/
.video {
	.multimedia-space {
		padding: 30px 0;
		.container-multimedia-space {
			@include outer-container;
			ul.accordion-tabs-minimal {
				border-top-right-radius: 12px;
				border-top-left-radius: 12px;
				border: 1px solid #000;
				li.tab-header-and-content {
					a.tab-link {
						display: inline;
						img {
							width: 5%;
						}
					}
					.tab-content {
						height: 485px;
					}
				}
			}
		}	
	}
}