/*===================PRICES STYLES==================================================*/
.prices {
	padding: 60px 0;
	.subscribe {
		background-color: #45709A;
		padding: 0 20px 50px 20px;
		.subscribe-content {
			@include outer-container;
			padding-top: 20px;
			h2 {
				color: #fff;
				font-size: em(80px);
				font-family: "Blanch Caps";
				font-weight: 100;
				text-align: center;
				margin: 0;
				line-height: 0.8;
				margin-bottom: 20px;
			}
			>p {
				color: #000;
				font-size: em(21px);
				font-family:"Aleo BoldItalic";
				text-align: center;
				padding: 0 30%;
				margin-bottom: 30px;
				@media (max-width: 930px) {
					padding: 0 10%;
				}
			}
			.blocks {
				text-align: center;
				.discount {
					background-color: #fff;
					display: inline-block;
					border-radius: em(12px);
					width: 278px;
					@media (max-width: 722px) {
						margin-bottom: 20px;
					}
					h1 {
						color: #12344C;
						font-size: em(105px);
						font-family: "Blanch Caps";
						font-weight: 100;
						margin: 0 0 -20px 0;
						text-align: center;
						margin-top: 10px;
					}
					>p {
						color: #596C84;
						font-size: em(16px);
						font-family:"Aleo Light";
						text-align: center;
						&:last-child {
							color: #000;
							font-size: em(13px);
							font-family:"Aleo Light";
							text-align: center;
							font-weight: 700;
							padding: 0 15%;
						    margin-top: 15px;
						    margin-bottom: 40px;
						}
					}
					.months {
						display: block;
						width: 164px;
						margin: 0 auto;
						text-align: center;
						border: 2px solid #00344F;
						border-radius: em(20px);
						background-color: #00344F;
						span {
							position: relative;
							display: inline-block;
							font-size: em(24px);
							font-family: "Blanch Caps";
							&:first-child {
								width: 50%;
								color: #fff;
								border-bottom-left-radius: em(20px);
								border-top-left-radius: em(20px);
							}
							&:last-child {
								width: 50%;
								background-color: #fff;
								border-bottom-right-radius: em(20px);
								border-top-right-radius: em(20px);
							}
						}
					}
				}
				.features {
					display: inline-block;
					margin-left: 2%;
					.list {
						background-color: #fff;
						display: inline-block;
						border-radius: em(12px);
						padding: 30px 20px; 
						text-align: left;
						margin-bottom: 18px;
						p {
							color: #000;
							font-size: em(16px);
							font-family:"Aleo Light";
							margin: 0;
							padding: 15px 0;
							border-bottom: 1px solid #A7CEE4;
							&:last-child {
								padding-bottom: 0;
								border-bottom: none;
							}
							&:first-child {
								padding-top: 0;
							}
							span {
								background: url("../public/images/prices-check.svg") no-repeat;
								display: inline-block; 
								height: 13px;
								width: 19px;
								margin-right: 10px;
							}
						}
					}
					.button-features {
						text-align: center;
						a {
							font-size: em(28px);
							font-family: "Blanch Caps";
							color: #fff;
							border-radius: 20px;
							padding: 0 20px;
							@media (max-width: 400px) {
								display: block;
							}	
							&:first-child {
								background-color: #E8AC03;
								margin-right: 10px;
								&:hover {
									color: #000;
								}
								@media (max-width: 400px) {
								    width: 140px;
    								margin: auto;
    							}							
							}
							&:last-child {
								background-color: #1B4466;
								&:hover {
									color: #000;	
								}
								@media (max-width: 400px) {
								    width: 210px;
    								margin: 10px auto;
    							}
							}
						}
					}
				}
			}
		}
	}
	.faq {
		@include outer-container;
		padding: 30px;
		h2 {
			color: #23456D;
			font-size: em(69px);
			font-family: "Blanch Caps";
			font-weight: 100;
			margin-bottom: 40px;
			line-height: 0.8;
		}
		.faquestion {
			border-bottom: 1px solid #757575;
			padding: 20px 20px 0 20px;
			h6 {
				font-family:"Aleo Bold";
				font-size: em(16px);
				color: #000;
			}
			p {
				font-family:"Aleo Light";
				font-size: em(16px);
				color: #000;
				margin-bottom: 30px;
			}
		}
	}
}