.to-arrow {
  display: inline-block;
}
.to-arrow .hamburger-box, .to-arrow .search-box {
  width: 60px;
  height: 60px;
  display: block;
  background-color: #000;
  position: relative;
  cursor: pointer;
  margin: 20px;
}
.to-arrow .hamburger-box .bun, .to-arrow .hamburger-box .meat, .to-arrow .hamburger-box .circle, .to-arrow .hamburger-box .handle, .to-arrow .search-box .bun, .to-arrow .search-box .meat, .to-arrow .search-box .circle, .to-arrow .search-box .handle {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.to-arrow .hamburger-box .bun, .to-arrow .hamburger-box .meat, .to-arrow .search-box .bun, .to-arrow .search-box .meat {
  width: 22px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -11px;
}
.to-arrow .hamburger-box .top, .to-arrow .search-box .top {
  top: 19px;
}
.to-arrow .hamburger-box .meat, .to-arrow .search-box .meat {
  top: 50%;
  margin-top: -2px;
}
.to-arrow .hamburger-box .bottom, .to-arrow .search-box .bottom {
  bottom: 19px;
}
.to-arrow .hamburger-box .circle, .to-arrow .search-box .circle {
  width: 14px;
  height: 14px;
  border: solid 4px #fff;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  position: absolute;
  top: 17px;
  left: 17px;
}
.to-arrow .hamburger-box .handle, .to-arrow .search-box .handle {
  width: 10px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  right: 17.5px;
  bottom: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.to-arrow .hamburger-box:hover .top, .to-arrow .search-box:hover .top {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 16px;
  top: 23.5px;
  margin-left: -12px;
}
.to-arrow .hamburger-box:hover .meat, .to-arrow .search-box:hover .meat {
  width: 18px;
  margin-left: -7px;
}
.to-arrow .hamburger-box:hover .bottom, .to-arrow .search-box:hover .bottom {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 16px;
  bottom: 23.5px;
  margin-left: -12px;
}
.to-arrow .hamburger-box:hover .circle, .to-arrow .search-box:hover .circle {
  width: 12.5px;
  height: 12.5px;
  border-right: solid 0px #000;
  border-bottom: solid 0px #000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 22px;
  left: 22px;
}
.to-arrow .hamburger-box:hover .handle, .to-arrow .search-box:hover .handle {
  width: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  bottom: 50%;
  margin-bottom: -2px;
  right: 19px;
}
.to-arrow .hamburger-box:active .top, .to-arrow .search-box:active .top {
  -webkit-transform: rotate(-405deg);
  -moz-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  transform: rotate(-405deg);
  width: 26px;
  top: 50%;
  margin-top: -2px;
  margin-left: -13px;
}
.to-arrow .hamburger-box:active .top, .to-arrow .hamburger-box:active .bottom, .to-arrow .hamburger-box:active .circle, .to-arrow .hamburger-box:active .handle, .to-arrow .search-box:active .top, .to-arrow .search-box:active .bottom, .to-arrow .search-box:active .circle, .to-arrow .search-box:active .handle {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}
.to-arrow .hamburger-box:active .meat, .to-arrow .search-box:active .meat {
  width: 0px;
  margin-left: 0px;
}
.to-arrow .hamburger-box:active .bottom, .to-arrow .search-box:active .bottom {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  width: 26px;
  bottom: 50%;
  margin-bottom: -2px;
  margin-left: -13px;
}
.to-arrow .hamburger-box:active .circle, .to-arrow .search-box:active .circle {
  border-right: solid 0px #000;
  border-bottom: solid 0px #000;
  border-left: solid 0px #000;
  height: 0;
  width: 26px;
  left: 50%;
  margin-left: -13px;
  top: 50%;
  margin-top: -2px;
  -webkit-transform: rotate(-405deg);
  -moz-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  transform: rotate(-405deg);
}
.to-arrow .hamburger-box:active .handle, .to-arrow .search-box:active .handle {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  width: 26px;
  bottom: 50%;
  right: 50%;
  margin-bottom: -2px;
  margin-right: -13px;
}
